@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.logotxt {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: #4671c6;

}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
}