@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Blinker', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}